*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    line-height: 1;
    font-size: 16px;
    color: #21243D;
    font-family: "Heebo";
}

._container {
    max-width: 858px;
    margin: 0 auto;
    box-sizing: content-box;
    padding-right: 15px;
    padding-left: 15px;
}



/*Header*/


.header__container {
    display: flex;
    align-items: center;
    text-align: end;
    justify-content: end;
    height: 57px;
}

.header__container a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
    color: #000;
    margin-left: 35px;
    transition: all .3s ease;
}

.header__container a:hover {
    color: #FF6464;
}

.header__container a:first-child {
    margin-left: 0;
}


/*Main*/

.main__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 540px;
}

.main__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 506px;
    height: 320px;
}

.main__content h1 {
    font-size: 44px;
    font-weight: 700;
    line-height: 60px;
}

.main__content h2 {
    font-weight: 400;
    line-height: 23.8px;
}

.main__content button {
    height: 47px;
    width: 208px;
    background-color: #FF6464;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color .2s ease, transform .3s ease;
}

.main__content button:hover {
    background-color: #b34444;
}

.main__content button:focus {
    outline: none;
}

.main__content button:active {
    transform: scale(0.9);
}

.main__photo {
    border-radius: 140px;
    box-shadow: -6px 13px #EDF7FA;
}

@media (max-width: 425px) {
    .main__container {
        flex-direction: column;
        height: 640px;
    }
    .main__content {
       height: fit-content;
       width: 100%;
       text-align: center;
       align-items: center;
    }
    .main__photo {
        margin-bottom: 20px;
    }
}


/*Posts*/


.posts {
    background-color: #EDF7FA;
}

.posts__container {
    display: flex;
    flex-direction: column;
    padding-bottom: 32px;
}

.posts__text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.recent__posts {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 295px;
    width: 418px;
    padding: 24px 23px 35px 21px;
    background-color: #fff;
}

.post__title {
    font-size: 26px;
    font-weight: 700;
    line-height: 38.19px;
    color: #21243D
}

.post__date {
    display: flex;
    justify-content: space-between;
    width: 395px;
}

.post__date h1,
h2 {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
}

.post__date h1 {
    width: 105px;
}

.post__date h2 {
    padding-left: 26px;
    height: fit-content;
    width: 239px;
    border-left: 1px solid #000;
}

.post__subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.posts__text {
    display: flex;
    align-items: center;
    height: 60px;
}

.posts__text h1 {
    font-weight: 400;
    font-size: 22px;
    line-height: 60px;
}

.posts__text a {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #00A8CC;
    transition: all .3s ease;
}

.posts__text a:hover {
    color: #000;
}

@media (max-width: 768px) {
    .recent__posts {
        flex-direction: column;
        height: 620px;
    }
}

@media (max-width: 375px) {
    .recent__posts {
        width: 100%;
    }
    .post {
        width: 100%;
    }
    .post__date h2 {
        width: fit-content;
    }
    .post__date {
        justify-content: flex-start;
    }
}

@media (max-width: 320px) {
    .post {
        padding: 12px 11px 17px 11px;
    }
    .post__date {
        width: 100%;
    }
}

/*Featured*/


.featured__container h1 {
    font-weight: 400;
    font-size: 22px;
    line-height: 60px;
}

.featured__post {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #E0E0E0;
}

.featured__posts {
    height: 100%;
}

.featured__posts div:first-child {
    padding-bottom: 5px;
}

.featured__posts div:last-child {
    margin-bottom: 0;
}

.featured__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 180px;
    width: 594px;
}

.featured__text .featured__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 44px;
}

.featured__date {
    display: flex;
    width: 462px;
}

.featured__date h1 {
    display: flex;
    align-items: center;
    height: 25px;
    width: 62px;
    font-weight: 900;
    font-size: 17px;
    line-height: 60px;
    color: #fff;
    background-color: #142850;
    border-radius: 16px;
    padding: 4px 12px 0;
    margin-right: 26px;
}

@media (max-width: 425px) {
    .featured__post {
        flex-direction: column;
        width: 100%;
    }
    .featured__text {
        width: 370px;
        align-items: center;
    }
    .featured__date {
        width: 100%;
        justify-content: center;
    }
}

@media (max-width: 320px) {
    .featured__text {
        width: 320px;
    }
    .featured__text .featured__title {
        font-size: 26px;
    }
    .featured__text h2 {
        text-align: center;
        font-size: 14px;
    }
}


/*footer*/


.facebook {
    width: 30px;
    height: 30px;
    transition: all .3s ease;
}

.facebook:hover {
    fill: #4267B2;
}

.instagram {
    width: 30px;
    height: 30px;
    transition: all .3s ease;
}

.instagram:hover {
    fill: #E1306C;
}

.twitter {
    width: 37px;
    height: 30px;
    transition: all .3s ease;
}

.twitter:hover {
    fill: #1DA1F2;
}

.linkedIn {
    width: 30px;
    height: 30px;
    transition: all .3s ease;
}

.linkedIn:hover {
    fill: #0072b1;
}

.footer__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 182px;
    padding: 50px 500px;
    margin-top: 83px;
}

.social__media {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

@media (max-width: 768px) {
    .footer__container {
        margin-top: 30px;
        padding: 50px 200px;
    }
}

@media (max-width: 425px) {
    .footer__container {
        margin-top: 30px;
        padding: 50px 50px;
    }
}

@media (max-width: 320px) {
    .footer__container {
        margin-top: 30px;
        padding: 50px 20px;
    }
}